
@{
    ViewBag.Title = "Page Not Found";
}

<!-- 404 Page -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 mx-auto text-center">
                <h1><img class="img-fluid" src="~/assets/img/404.png" alt="404"></h1>

                <h1 class="mb-3">Sorry! Page Not Found.</h1>
                <p>Unfortunately the page you are looking for has been moved or deleted.</p>
                <div class="mt-5">
                    <a href="@Url.Action("Index","Home")" class="btn-base">
                        GO TO HOME PAGE <i class="fas fa-long-arrow-alt-right ml-3"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End 404 Page -->